body{
  background: black;
  margin-top: 0px;
  background-image: url("../images/wb.jpg");
}
.mainheading {
    border: none;
    background: linear-gradient(to bottom right, #CFB53B, #146314);
    height: 60px;
    border-radius: 10px;
    margin-top: 5px;
}


.nabl {
    border-radius: 5px;
    font-family: sans-serif;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: linear-gradient(to bottom right, #CFB53B, #146314);
}

 .nab{
    font-size: 15px;
    float: left;
    border-radius: 10px;
}



    .nab a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        height: 35px;
    }

        .nab a:hover {
            background: linear-gradient(to bottom right, #146314, #CFB53B);
        }

.m1 {
    font-family: fantasy;
    font-size: 48px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 680px;
    color: black;
    text-shadow: 1px 1px #CFB53B;
}

.slideContainer{
  border:none;
  width: 1350px;
  height: 600px;
  display: inline-block;
  vertical-align: top;
  padding-top: 10px;
}

.prevbutton {
    background: linear-gradient(to bottom right, #146314, #CFB53B);
}

.nextbutton {
    background: linear-gradient(to bottom right, #146314, #CFB53B);
}


.weedSlider{
  display: inline-block;
  margin-right: 10px;
}

.weedSlider img{
  border-radius: 20px;
}




.weedPrices{
  border: none;
  width: 480px;
  height: 80px;
  display: inline-block;
  margin-left: 80px;
  border-radius: 10px;
}

.weedPrices ul li {
    color: black;
    display: inline;
    font-size: 22px;
}

.weedPrices ul {
    margin-top: 0px;
    padding-left: 0px;
    word-spacing: 20px;
}

.weedPrices h4{
  color: white;
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: center;
  font-size: 20px;
}

.weedPrices ul{
  color: #146314;
  text-shadow: 1px 0px white;
  text-align: center;
  font-size: 22px;
  border-radius: 20px;
  border: none;
  width: 480px;
  height: 50px;
  background:  linear-gradient(to right, #CFB53B, #146314);
}

.weedPrices ul:hover{
  background: linear-gradient(to right, #146314, #CFB53B);
}

.weedPrices li{
  font-size: 22px;
}



.dabSlider{
  display: inline-block;
  margin-right: 10px;
}

.dabSlider img{
  border-radius: 20px;
}



.dabPrices{
  border: none;
  width: 480px;
  height: 80px;
  display: inline-block;
  margin-left: 223px;
  border-radius: 10px;
}
.dabPrices ul li {
    color: black;
    display: inline;
    font-size: 22px;
}

.dabPrices ul {
    margin-top: 0px;
    padding-left: 0px;
    word-spacing: 20px;
}

.dabPrices h4{
  color: white;
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: center;
  font-size: 20px;
}

.dabPrices ul{
  color: #146314;
  text-shadow: 1px 0px white;
  text-align: center;
  font-size: 2px;
  border-radius: 20px;
  border: none;
  width: 480px;
  height: 50px;
  background:  linear-gradient(to left, #CFB53B,#146314);
}

.dabPrices ul:hover{
  background: linear-gradient(to left, #146314, #CFB53B)
}

.dabPrices li{
  font-size: 22px;
}

.ediblesSlider {
display: inline-block;
margin-right: 10px;
}

.accessoriesSlider {
    display: inline-block;
    margin-right: 10px;
}






.footer{
  margin-top: 20px;
  background: linear-gradient(to bottom right, #CFB53B, #146314);
  border: none;
  width: 1568px;
  height: 60px;
  border-radius: 10px;
}

.footer1{
  font-size: 16px;
  border-right: 1px solid black;
  width: 110px;
  height: 20px;
  display: inline-block;
  vertical-align: top;
  margin-right: 0px;
  margin-left: 2px;
}

.footer2{
  border-right: 1px solid black;
  width: 100px;
  height: 20px;
  display: inline-block;
  margin-left: 0px;
}

.footer3{
  border: none;
  width: 100px;
  height: 20px;
  display: inline-block;
}
