body{
  background: black;
  margin-top: 0px;
  background-image: url("../images/wb.jpg");
}
.mainheading {
    border: none;
    background: linear-gradient(to bottom right, #CFB53B, #146314);
    height: 63px;
    border-radius: 5px;
    margin-top: 5px;
}

.navheader{
 border: none;
 display: inline-block;
}

.header{
    display: inline-block;
        border:none;
        margin-top:0px;
        vertical-align: top;
}


.nabl {
    border-radius: 5px;
    font-family: sans-serif;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.nab {
    font-size: 15px;
    float: left;
}



    .nab a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        height: 35px;
        border-radius: 0px;
    }

        .nab a:hover {
            background: linear-gradient(to bottom right, #146314, #CFB53B);
        }

.header .m1{
    font-family: fantasy;
    font-size: 48px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 540px;
    color: black;
    text-shadow: 1px 1px #CFB53B;
}

.m1:hover{
    font-size: 50px;
}


img {
border-radius: 45%;
}



.prevbutton {
    vertical-align: top;
    margin-top: 220px;
    width: 43px;
    height: 40px;
    border-radius: 10px;
    background: linear-gradient(to bottom right, #CFB53B, #146314);
    border-color: goldenrod;
    color: white;
}
.prevbutton:hover {
    background-color: green;
    color: White;
    border-color: green;
}

.nextbutton {
    vertical-align: top;
    margin-top: 220px;
    width: 43px;
    height: 40px;
    border-radius: 10px;
    background: linear-gradient(to bottom right, #CFB53B, #146314);
    border-color: goldenrod;
    color: white;
}

 .nextbutton:hover {
        background-color: green;
        color: White;
        border-color: green;
    }






.weedSliderC {
border: none;
height: 500px;
margin-bottom: 180px;
margin-top: 50px;
}

.wsub1 {
    border: none;
    display: inline-block;
    height: 498px;
    width: 770px;
    margin-right: 15px;
}

.wsub2 {
    border: none;
    display: inline-block;
    height: 498px;
    width: 770px;
    vertical-align: top;
    color: white;
}

.wsub2 p{
    margin-top: 140px;
    font-size: 30px;
    word-spacing: 5px;
    text-shadow: 2px 1px green;
}


.dabSliderC {
    border: none;
    height: 500px;
    margin-bottom: 180px;
}

.dsub1 {
    border: none;
    display: inline-block;
    height: 498px;
    width: 770px;
    margin-right: 15px;
    vertical-align: top;
    color: white;
}

    .dsub1 p {
        margin-top: 120px;
        font-size: 30px;
        word-spacing: 10px;
        text-shadow: 2px 1px green;
    }

.dsub2 {
    border: none;
    display: inline-block;
    height: 498px;
    width: 770px;
}





.ediblesSliderC {
    border: none;
    height: 500px;
    margin-bottom: 180px;
}
.esub1 {
    border: none;
    display: inline-block;
    height: 498px;
    width: 770px;
    margin-right: 15px;
}

.esub2 {
    border: none;
    display: inline-block;
    height: 498px;
    width: 770px;
    vertical-align: top;
    color: white;
}

    .esub2 p {
        margin-top: 200px;
        font-size: 30px;
        word-spacing: 5px;
        text-shadow: 2px 1px green;
    }



.accessoriesSliderC {
    border: none;
    height: 500px;
    margin-bottom: 50px;
}

.asub1 {
    border: none;
    display: inline-block;
    height: 498px;
    width: 770px;
    margin-right: 15px;
    vertical-align: top;
    color: white;
}

    .asub1 p {
        margin-top: 180px;
        font-size: 30px;
        word-spacing: 5px;
        text-shadow: 2px 1px green;
    }

.asub2 {
    border: none;
    display: inline-block;
    height: 498px;
    width: 770px;
    vertical-align: top;
}






.footer{
  margin-top: 20px;
  background: linear-gradient(to bottom right, #CFB53B, #146314);
  border: none;
  width: 1568px;
  height: 60px;
  border-radius: 10px;
}

.footer1{
  font-size: 16px;
  border-right: 1px solid black;
  width: 110px;
  height: 20px;
  display: inline-block;
  vertical-align: top;
  margin-right: 0px;
  margin-left: 2px;
}

.footer2{
  border-right: 1px solid black;
  width: 100px;
  height: 20px;
  display: inline-block;
  margin-left: 0px;
}

.footer3{
  border: none;
  width: 100px;
  height: 20px;
  display: inline-block;
}
